kind: Deployment
apiVersion: apps/v1
metadata:
  name: "{{ inner_item.replica_name }}"
  namespace: "{{ outer_item.namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ inner_item.replica_name }}"
  template:
    metadata:
      labels:
        app: "{{ inner_item.replica_name }}"
    spec:
      containers:
      - name: prometheus
        image: docker.io/prom/prometheus
        args:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--enable-feature=agent"
        ports:
          - containerPort: 9090
        volumeMounts:
          - name: config-volume
            mountPath: /etc/prometheus
          - name: prometheus-data
            mountPath: /prometheus/data-agent
      volumes:
        - name: config-volume
          configMap:
            name: "{{ inner_item.replica_name }}-config"
        - name: prometheus-data
          emptyDir: {}